@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.home {
    width: 100%;
    height: 100%;
    
    background: #FFFFFF;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.logo-and-title {
    margin-top: 10%;
    
    display: flex;
    flex-flow: column;
}

.logo-and-title h1 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;

    color: #000000;
}

.deck-button {
    width: 345px;
    height: 72px;

    margin-top: 10%;

    display: flex;
    flex-direction: row nowrap;
    justify-content: center;
    align-items: center;

    border: 3px solid #FFEF61;
    box-sizing: border-box;
    border-radius: 12px;
}

.deck-button h1 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;

    margin-right: 5px;
}

.deck-button ion-icon{
    color: #FFEF61;
    font-size: 32px;
}

.top-bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    margin: 26px 32px;
}

.top-bar span {
    margin-left: 13px;
    
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}